*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Oswald', sans-serif;
}

.title{
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}

.order{
    background: #817070;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:auto;
}

.order__client{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.order__drinks{
    display: flex;
    flex-direction: column;
}

.orders{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-inline: 30px;
}

.order__products{
    display: flex;
    flex-direction: column;
}

label{
    color: #fff;
    font-size: 20px;
}

input{
    border: 2px solid #fff;
    padding: 10px;
    background: #817070;
    margin: 0 10px 10px 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    outline: none;
}

input[type="number"]{
    width: 60px;
    height: 40px;
    -moz-appearance: textfield;
    position: relative;
	bottom: 5px;
}
input::placeholder{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.btn{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #817070;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    display: flex;
    align-self: center;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.btn:hover{
    color: #fff;
    background: #817070;
}

button:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.plus {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    background: #817070;
    border: 2px solid #FFFFFF;
    display: flex;
    width: 36px;
	height: 40px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.plus:hover {
    color: #817070;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.minus {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    background: #817070;
    border: 2px solid #FFFFFF;
    display: flex;
    width: 36px;
	height: 40px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.minus:hover {
    color: #817070;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.add__item {
    display: flex;
    align-items: baseline;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 380px;
    height: 50px;
    margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 36px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 26px;
	height: 26px;
	background: #ebe2e2;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	width: 18px;
	height: 18px;
	background: #817070;
}
.checkbox:checked + label:after {
	background: #4f3232;
}

.amount{
    color: #FFFFFF;
    text-align: center;
    font-size: 26px;
    margin: 20px;
}


@media (max-width: 910px) {
    .orders {
        display: flex;
        justify-content: space-between;
        padding-inline: 30px;
    }
}


@media (max-width: 850px) {
    .orders {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item {
        width: 500px;
        margin: 10px;
    }
}

@media (max-width: 600px) {
    .order__client {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item {
        width: 380px;
    }
}

@media (max-width: 400px) {
    .order__client {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: auto;
        margin-bottom: 20px;
    }
    .orders {
        align-items: flex-start;
    }
    .checkbox + label {
        margin-bottom: 20px;
    }
    input[type="text"]{
        width: 210px;
    }
}
